* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

html, body {
  height: 100%;
  width: 100%;
}
.hero{
	display: flex;
	align-items: center;
	justify-content: center;	
	height: 100%;
}
table{
	height: 600px;
	/* background-color: white; */
	color: white;
	width: 900px;
}