* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: rgb(223, 220, 220);
  font-family: 'Poppins';
}

 nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 20px;
}
.nav1{
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 2px solid red; */
	width: 200px;
	/* margin-right: 600px; */

}

.navbar{
    width: 400px;
	/* border: 2px solid pink; */
}

.nav1 h6{
	margin-top: 10px;
	margin-left: 7px;
	font-size: 1rem;
	font-weight: 400;
}
.nav1 img{
   height: 45px;
   width:40px;
}

.nav2{
	/* border: 2px solid blue; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
		gap: 15px;
}

.nav2 a{
	list-style: none;
	text-decoration: none;
	color: rgb(223, 220, 220);
}

button{
	background-color: #27E0B3;
	border: #27E0B3;
	height: 35px;
	width: 90px;
	font-size: 0.9rem;
	border-radius: 2px;
	font-weight: 300;
}

.nav2 h5{
	font-size: 20px;
	display: none;
}

@media (max-width:600px) {

	nav{
		padding: 15px;
	}
	 .nav1 img{
		height: 35px;
		width: 30px;
	 }
	.nav1 h6{
		font-size: 11px;
	}
	.nav2 a{
	display: none;
}
   button{
	display: none;
   }

   .nav2 h5{
	display: block;
   }
}