* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root{
	--gray:
} */
@font-face {
	font-family: Poppins;
	src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: rgb(223, 220, 220);
  /* font-family: 'Helvetica'; */
  font-family: 'Poppins';
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 85px 5px 75px;
	margin-bottom: 25px;
	font-family: 'Montserrat';
}

.nav1{
	display: flex;
	align-items: center;
	gap: 20px;
}

.nav1 h6{
	color: white;
	font-size: 1rem;
	font-weight: 300;
}
.nav1 img{
	height: 50px;
}

.nav2{
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav2 a{
	text-decoration: none;
	color: white;
}
.nav2 img{
  height: 25px;
  border-radius: 50%;
  width: 23px;
}

.nav2 img:hover{
	height: 30px;
	width: 28px;
	border: 3px solid white;
}
.nav2 h5{
	font-size: 20px;
	display: none;
}

@media (max-width:710px){
	.nav2 a{
		display: none;
	}
  
    .nav2 h5{
		display: block;
	}

	.nav2 img{
		display: none;
	}

	/* .box2{
        display: none;
	} */
}

@media (min-width: 650px) and (max-width: 800px) {
   .nav2 a{
	font-size: 15px;
   }
}

/* main{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.box1{
	border: 3px solid red;
	width: 600px;
	height: 550px;
	
}

.box1 h1{
	font-size: 2.5rem;
	line-height: 40px;
	font-family: 'Poppins';
}

.box2{
	border: 3px solid red;
	width: 600px;
	height: 540px;
	overflow: hidden;
	background-color:  #1E1E1E;
}

.box2 img{
	width: 600px;

}

.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 20px;
  margin-top: 25px;
  border-radius: 10px;
}

.text div {
  background-color: #111;
  padding: 12px 15px;
  border-radius: 8px;
  font-weight: 500;
}


.text p {
  display: inline;
  color: #00ff9c;
  margin-left: 6px;
  font-weight: 600;
} */

.main{
	padding-top: 100px; 
}

.section1{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 15px 70px;
  
}

.section1 .left{
	width: 43%;
    font-family: 'Urania Light';
     font-weight: lighter;
}

.section1 .left h1{
	font-size: 45px;
}

.section1 .left .tags{

}

.section1 .left .tags{
	background-color: ;
	font-family: 'Poppins';
}
   
.section1 .right{
	width: 45%;
}

.right img{
	height: 500px;
	width: 700px;
}
